<nav class="navbar navbar-expand ">
    <div class="container-fluid">
      <a class="navbar-brand">Meera</a>
      <ul class="navbar-nav">
        <b><li class="nav-item"><a class="nav-link" routerLink="/dashboard">ABOUT ME</a></li></b>
        <li class="nav-item"><a class="nav-link" routerLink="/dashboard">RESUME</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/dashboard">LET'S CONNECT</a></li>
      </ul>
      <a class="navbar-brand">Meera</a>
    </div>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>

    <!-- <nav class="navbar">
    <div class="navbar-header">
      <button class="navbar-toggle" onclick="toggleNavbar()">&#9776;</button>
    </div>
    <ul class="navbar-list" [ngClass]="{ 'collapsed': isNavbarCollapsed }">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav> -->
    
    