<div class="container-fluid">
    <div class="row section1" style="height: 100vh;">
        <div class="col-lg-12">
            <div class="test">
                <h4>Hi there,</h4>
                <p style="line-height: 1;"><em style="color: white; font-size: 23px;">I'm </em><span class="name">Meera M Nair</span></p>
                <p style=" font-size: 17px;"><span style="color: white;">Full Stack Developer</span><span> &#x25C6;</span> Programmer</p>
                 <button class="btn success">Resume</button>
        </div>
    </div>
</div>

<div class="section2">
    <section id="about">
        <h1>HELLO THERE NEW SECTION</h1>
    </section>
</div>

</div>